.Rproj.user
.Rhistory
.RData
.Ruserdata
Release.R
temp.txt
vignettes/Introduction.tex
vignettes/Introduction.aux
vignettes/Introduction.out
vignettes/stability.xlsx
test.docx
test.R
.DS_Store
.httr-oauth
